#login {
    .mt-70 {
        margin-top: 70px;
    }

    #loginIntro {
        color: white;
        background-color: #75757559;
        padding: 20px;
        border-radius: 5px;
    }

    #loginIntro p {
        font-size: 1.25em;
    }

    .card * {
        font-size: 0.9rem;
    }
}